{% extends "base.html" %}
{% block head_additions %}
<meta name="description" content="The Bechdel:Bash! was developed to show how female characters are participating in movies under different influences like, genre, cast or country. Find out more about the Test, the scoring and the origin of the data.">
{% endblock %}

{% block title %} Bechdel Bash! - about {% endblock %}

{% block body_add%}
<div class="container">
<div class="row">
<div class="offset-sm-2"></div>
<div class="col-sm-8">
    <p class="h2">About</p>
    <p>
        This website aims to show how different cinematic traits perfom in the
        <a href="#bechdeltest">Bechdel test</a>. The test is a vey simple way to check how or
        even if female characters are participating in a film. The bash is on. Check out if your favorite writer
        has a higher score than the average production from a certain country, gerne or director.
    </p>
    <p>
        As a very simple measurement, a higher score indicates a higher female participation in movie.
        It only needs one conversation of two named female characters, that is not about a male
        character to achieve the full score of three points. Yet, not even 58% of all rated movies
        in the <a href="#data_origin">databank</a> have the maximum score for this easy task.
    </p>
    <p class="h3">Scoring</p>
    <p>
        Every movie in the database is rated with 0, 1, 2 or 3 points. To compare the overall performance of
        a certain cinematic trait, an average over all respective movies is calculated.
        Two movies with 0 and one movie with 3 point, would result in an average of 1.0 point. This scoring system
        is based on the original Bechdel test.
    </p>
    <p id="bechdeltest" class="h3">Origin of the Bechdel test</p>

    <p>
    The rules now known as the Bechdel test first appeared in 1985 in Alison Bechdel's comic strip <em>Dykes
    To Watch Out For</em>. In a strip titled "The Rule", two women discuss seeing a film and one woman explains that she only goes to a movie if it satisfies the following requirements:
    <ol>
    <li>The movie has to have at least two women in it,</li>
    <li>who talk to each other,</li>
    <li>about something besides a man</li>
    </ol>
    <footer class="blockquote-footer"><a href=" https://en.wikipedia.org/wiki/Bechdel_test#The_Bechdel_test">Wikipedia Article about the Bechdel Test</a></footer>
    </p>
    <p id="data_origin" class="h3">Origin of the Data</p>
    <p>
    The ratings are taken from the <a href="https://bechdeltest.com/api/v1/doc">API</a>
    of <a href="https://www.bechdeltest.com">bechdeltest.com</a>. Additional information like cast, genre or country
    of origin are taken from the <a href="https://imdb.com">IMDb</a>. The database is updated once a day to check for
    new ratings on bechdeltest.com.
    </p>
</div>
<div class="offset-sm-2"></div>
</div>
</div>
</div>
{% endblock %}