<! — "Child Template" ->
{% extends "base.html" %} {% block head_additions %}
{% endblock %}

{% block title %} Bechdel Bash! - about {% endblock %}

{% block body_add%}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <p class="h3">about</p>
            <p class="h4">Bechdel Test</p>

            <blockquote class="blockquote">
    The rules now known as the Bechdel test first appeared in 1985 in Alison Bechdel's comic strip Dykes
    To Watch Out For. In a strip titled "The Rule", two women discuss seeing a film and one woman explains that she only goes to a movie if it satisfies the following requirements:
    <ol>
        <li>The movie has to have at least two women in it,</li>
        <li>who talk to each other,</li>
        <li>about something besides a man</li>
    </ol>
    <footer class="blockquote-footer"><a href=" https://en.wikipedia.org/wiki/Bechdel_test#The_Bechdel_test">Wikipedia Article about the Bechdel Test</a></footer>
  </blockquote>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>
{% endblock %}