<!DOCTYPE html>
<html lang="en">
<html>
<head>
 <title>{% block title %}{% endblock %}</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 {% block head_additions %}{% endblock %}
 <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://bechdelbash.herokuapp.com/static/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://bechdelbash.herokuapp.com/static/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="https://bechdelbash.herokuapp.com/static/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="https://bechdelbash.herokuapp.com/static/favicon-16x16.png" sizes="16x16" />
<meta name="application-name" content="Bechdel Bash!"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="https://bechdelbash.herokuapp.com/static/mstile-144x144.png" />

</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <a class="navbar-brand" href="/">Bechdel Bash!</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-outline-light navbar-btn btn-sm" data-toggle="modal" data-target="#searchHint">Search Hint</button>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/api">API</a></li>
    </ul>
</nav>

<!-- Modal -->
<div id="searchHint" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>You can use _ to replace a single letter and % to replace more letters. "S% Knight" will include "Sandra Knight" but also give results for "Shirley Knight".
           </p>
           <p>"K__sten" will find "Kirsten" and also "Kristen"</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

 {% block body_add %}
 {% endblock %}

</body>
</html>