<!DOCTYPE html>
<html lang="en">
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./static/purified.css">
{% block head_additions %}{% endblock %}
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://bechdelbash.herokuapp.com/static/favicons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://bechdelbash.herokuapp.com/static/favicons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://bechdelbash.herokuapp.com/static/favicons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://bechdelbash.herokuapp.com/static/favicons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://bechdelbash.herokuapp.com/static/favicons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://bechdelbash.herokuapp.com/static/favicons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://bechdelbash.herokuapp.com/static/favicons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://bechdelbash.herokuapp.com/static/favicons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="https://bechdelbash.herokuapp.com/static/favicons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="https://bechdelbash.herokuapp.com/static/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="https://bechdelbash.herokuapp.com/static/favicons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="https://bechdelbash.herokuapp.com/static/favicons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="https://bechdelbash.herokuapp.com/static/favicons/favicon-128.png" sizes="128x128" />
<link rel='shortcut icon' type='image/x-icon' href='https://bechdelbash.herokuapp.com/static/favicons/favicon.ico' />
<meta name="application-name" content="Bechdel:Bash!"/>
<meta name="msapplication-TileColor" content="#7089A5" />
<meta name="msapplication-TileImage" content="https://bechdelbash.herokuapp.com/static/favicons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="https://bechdelbash.herokuapp.com/static/favicons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="https://bechdelbash.herokuapp.com/static/favicons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="https://bechdelbash.herokuapp.com/static/favicons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="https://bechdelbash.herokuapp.com/static/favicons/mstile-310x310.png" />
<link rel="manifest" href="manifest.json" />
<meta name="theme-color" content="#3a3b40">
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <a class="navbar-brand" href="/">Bechdel:Bash!</a>
    <ul class="navbar-nav mr-auto">
        {% block navbar_buttons %}
        {% endblock %}
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/api">API</a></li>
    </ul>
</nav>



{% block body_add %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
// Register Service Worker
if ('serviceWorker' in navigator) {
    navigator.serviceWorker
    .register('/serviceWorker.js')
    .then(function(registration) {
        return registration;
    })
}
</script>
{% block js_sctipt_add %}{% endblock %}
</body>
</html>