<! — "Child Template" ->
{% extends "base.html" %}

{% block title %}
    Bechdel Bash!
{% endblock %}

{% block topright %}
    <script type="text/javascript">
        function update_right_bechdel(){
        	var method = document.getElementById('rightmethod').value;
        	var category = document.getElementById('rightcategory').value;
        	var filterterm = document.getElementById('rightfilterterm').value;
        	$.getJSON('/api/' + method+ '?category=' + category + '&filterterm=' + filterterm, function(data) {
        	document.getElementById('chartright').innerHTML = "The average bechdel score for movies with " + filterterm + " in "  + category + " is " + data.totalAverage + " with " + data.totalRated + " movies.";
        	});
        }
    </script>
    <select id='rightmethod'>
      <option value='getTotalScore'>Total Score</option>
      <option value='getYearlyScores'>Score by years</option>
      <option value='getDecadeScores'>Score by decades</option>
    </select>
    <select id='rightcategory'>
      <option value='genres'>Genres</option>
      <option value='cast'>Cast</option>
      <option value='writers'>Writing</option>
      <option value='directors'>Directing</option>
    </select>
    <input type='text' id='rightfilterterm' value='Enter Search Term' />
    <input type='button' onclick='update_right_bechdel()' value='Look up Chart'/>
{% endblock %}

{% block topleft %}
    <script type="text/javascript">
        function update_left_bechdel(){
        	var method = document.getElementById('leftmethod').value;
        	var category = document.getElementById('leftcategory').value;
        	var filterterm = document.getElementById('leftfilterterm').value;
        	$.getJSON('/api/' + method+ '?category=' + category + '&filterterm=' + filterterm, function(data) {
        	document.getElementById('chartleft').innerHTML = "The average bechdel score for movies with " + filterterm + " in "  + category + " is " + data.totalAverage + " with " + data.totalRated + " movies.";
        	});
        }
    </script>
    <select id='leftmethod'>
      <option value='getTotalScore'>Total Score</option>
      <option value='getYearlyScores'>Score by years</option>
      <option value='getDecadeScores'>Score by decades</option>
    </select>
    <select id='leftcategory'>
      <option value='genres'>Genres</option>
      <option value='cast'>Cast</option>
      <option value='writers'>Writing</option>
      <option value='directors'>Directing</option>
    </select>
    <input type='text' id='leftfilterterm' value='Enter Search Term' />
    <input type='button' onclick='update_left_bechdel()' value='Look up Chart'/>
{% endblock %}

{% block bottomleft %}
    <div id='chartleft'></div>
{% endblock %}

{% block bottomright %}
   <div id='chartright'></div>
{% endblock %}